.weather {
  width: 600px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
  background: #7abcff; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* FF3.6+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border-radius: 10px;

  border: 3px solid #ffffff;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  padding: 0;
  margin: 5px 0px;
  text-align: center;
  font-size: 18pt;
  text-transform: 
  uppercase;
  color: #FFFFFF;
  font-weight: normal;

  /* font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px; */
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 200px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
  color: #fff;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}
